# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Optional cache or build directories
.cache/
dist/
build/

# TypeScript
*.tsbuildinfo

# Secrets or sensitive files
*.secret
*.key
